<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  Welcome are in LTI
  <app-directive></app-directive>
  <app-pipedemo></app-pipedemo>
</div>-->
<div>
<app-header></app-header>
<app-nav></app-nav>
<nav>
  <a routerLink="home" routerLinkActive="active">Home</a>&nbsp;&nbsp;
  <a routerLink="about">About</a>&nbsp;&nbsp;
  <a routerLink="contact">Contact</a>&nbsp;&nbsp;
  <a routerLink="faq">faq</a>
</nav>
<router-outlet></router-outlet>
<app-sidebar></app-sidebar>
<app-footer></app-footer>
</div>

